body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

a { 
    color:inherit;
    text-decoration: underline;
    text-shadow: 0.04em 0.04em 0.04em whitesmoke;
}

a:hover{
    color: inherit;
    text-decoration-line: underline;
    text-shadow: 0.06em 0.06em 0.06em whitesmoke;
    text-transform:uppercase;

}

div.pageflexbox{   
     /* border: solid white;*/
   display: flex;
   position: relative;
   flex-flow: column wrap;
   justify-content: space-between;
    align-items: space-between;
}


div.flexbox{
     /* border: solid white;*/
    display: flex;
    justify-content: center;
    align-items: center;
    }


div.flexbox-relative{
     /* border: solid white;*/
   display: flex;
   position: relative;
   flex-flow: column wrap;
   justify-content: center;
    align-items: center;
}

div.flexbox-relative-row{
     /* border: solid white;*/
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
}

div.flexbox-fixed{
    /* border: solid white;*/
     display: flex;
     position: fixed;
     flex-flow: column wrap;
     justify-content: center;
     align-items: center;}



h1{
    color:white;
    font-family: 'Fuzzy Bubbles', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7vw;
}

p.text{
    color:white;
    font-family:'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.95vw;
    line-height: 2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-indent: 2em;
}

p.image-caption{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size:0.85vw;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    text-align: center;
    text-indent: 2em;
}


